<section class="container">

    <div class="box-one"></div>

    <div id="card">
        <div class="box-two"></div>


        <header class="card-header">
            <h1>one planer 
                <span>Sign In</span>
            </h1>
        </header>


        <div id="card-body">
            <img src="../../../assets/2.png" width="480" alt="USER INTERFACE LOGIN">

            <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                <div class="input-group" [class.input-error]="name.invalid && (name.touched || name.dirty)">
                    <label for="useraname">name</label>
                    <input #name="ngModel" #spy type="text" autocomplete="false" name="name" ngModel id="name" required
                        minlength="4" maxlength="18">
                </div>
                <div *ngIf="name.invalid && (name.touched || name.dirty)" class="alert">
                    <div *ngIf="name.errors.required">
                        username needed for Signin
                    </div>
                    <div *ngIf="name.errors.minlength">
                        userna too short
                    </div>
                    <div *ngIf="name.errors.maxlength">
                        max length exceeded
                    </div>
                </div>
                <div class="input-group">
                    <label for="password">password</label>
                    <input ngModel type="password" name="password" id="password" required minlength="8">
                </div>
                <label class="marker">Remember Me
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <input type="submit" value="Sign In">
                <p>Don't have an account? <a [routerLink]="['/register']" href="">Sign Up</a></p>
            </form>

            
        </div>
        
        <div id="card-footer">
            <p>
                &copy; 2020 One Planner. All Rights Reseverd | made and designed by <a href=""> S P Khonjelwayo </a>
            </p>
            
            
        </div>
        <div class="box-three"></div>
        <div class="box-four"></div>

        <div class="box-five"></div>

    </div>
    <div class="box-six"></div>
</section>