
section{    
    /* position: relative; */
    padding-top: 8em;
    /* height: 100vh; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #fff; */
}

#one{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: rgba(83, 111, 172, 0.616);
    border-radius: 12px;
    left: -100px;
    top: -4em;
    z-index: -1;

}


#two{
    position: fixed;
    left: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    top: 0;
    width: 80px;
    height: 300px;
    background-color: rgba(0, 81, 255, 0.89);
}

#card{
    /* margin-top: 2em; */
    position: relative;
    /* top: 50%; */
    /* right: 50%; */
    /* transform: translate(50,50); */
    margin: auto;
    width:80%;
    box-shadow: 0 5px 7px #00000080;
    /* z-index: 3; */
    flex-basis: 1024px;
    background-color: #fff;
    border: 4px solid #212529;
    border-radius: 8px;
    /* padding: 1em; */

}

#four{
    position: absolute;
    z-index: -1;
    /* border-radius: 8px; */
    border-top-right-radius: 8px;
    bottom: -110px;
    right: -10px;
    width: 125px;
    height: 125px;
    background-color: rgba(15, 70, 189, 0.548);
}

#three{
    position: absolute;
    z-index: -4;
    border-bottom-left-radius: 8px;
    bottom: -30px;
    right: 115px;
    width: 300px;
    height: 60px;
    background-color: rgba(157, 157, 158, 0.548);    
}

#five{
    position: fixed;
    right: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; */
    top: 10%;
    width: 10px;
    height: 60%;
    background-color: #828488e3;
}

#card h1 {
    padding: 1em;
    font-size: 2em;
    padding: .5em;
    text-align: center;
    font-weight: 450;
    text-transform: capitalize;
}

#header span{
    font-weight: 600;
}

#card-body{
    /* border: 1px solid #000; */
    /* margin-bottom: 1em; */
    display: flex;
    /* padding: 1em 2em; */
    justify-content: center;
    /* align-items: baseline; */
}



img{
    /* border: 1px solid #000; */
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: #fff;
}

#card-footer p{
    font-size: 14px;
    font-weight: 500;
    /* margin-bottom: 1em; */
}

form{
    margin-left: 2em;
    /* margin-right: 2em; */
    /* border: 1px solid #000; */
    padding-top: 2em;
    width: 100%;
    max-width: 480px;

}
.i-group{
    margin-bottom: 1em;
}

.i-group label{
    color: #b4afaf;
    display: block;
    font-size: 16px;
    text-transform: capitalize;
}

.i-group input{
    background-color: inherit;
    border: none;
    border-bottom: 2px solid rgb(109, 108, 108);
    outline: none;
    padding: 0.5em 1em;
    font-size: 16px;
}


.i-group input{
    font-size: 16px;
    margin-bottom: 1.5em;
    width: 100%;
}


input[type='submit']{
    display: block;
    width: 100%;
    font-size: 17px;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    padding: 12px;
    border-radius: 3px;
    margin: 10px 0;
    font-weight: bold;
    letter-spacing: 1px;
}

#rme{
    /* border: 1px solid #000; */
    display: block;
    font-size: 16px;
    font-weight: 450;
    margin-bottom: 1.5em;
    color: #b4afaf;

}

#rme input{
    margin-right: 2em;
}

#checker{
    border: 1px solid #000;
    margin-bottom: 1em;
}

#checker label{
    display: block;
    width: 100%;
    border: 1px solid #000;
}

form p{
    padding: 0.5em;
    font-weight: 450;
    text-align: center;
    font-size: 16px;
    letter-spacing: .5px;
}

#card-footer{
    padding: 1em;
    text-align: center;
}

.free-float{
    /* border: 3px solid #000; */
    border-top-right-radius: 5px;
    padding: 1em;
    position: absolute;
    right: 167px;
    bottom: 5px;
    width: 100px;
    z-index: 1;
    background-color: rgb(146, 185, 221);
    height: 100px;
    /* border-radius: 8px; */

}

.free-float::after{
    content: '';
    /* border: 1px solid #000; */
    padding: 12px;
    position: absolute;
    left: -273px;
    top: 0;
    border-bottom-left-radius: 5px;
    background-color: #cccccc80;
    z-index: -2;
    width: 250px;
    height: 40px;
}

.free-top{
    border-radius: 10px;
    /* padding: 1em; */
    position: absolute;
    left: 60px;
    top: 60px;
    width: 250px;
    z-index: 1;
    background-color: #0000ff10;
    height: 250px;
    /* border-radius: 8px; */
}