<main>
    <form action="">
        <input type="text" placeholder="Take a note.....">
        <fa-icon class="icon" [icon]="faCheckSquare"></fa-icon>
        <fa-icon class="icon" [icon]="faPencilAlt"></fa-icon>
        <fa-icon class="icon" [icon]="faImage"></fa-icon>
    </form>

    <div class="pinned-row">
        <header>
            <h3>
                pinned
            </h3>
        </header>
        
        <div class="layout">
            <div class="card">
                <header class="card-header">
                    <h4>Podcast</h4>
                </header>
    
                <div class="card-body">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis quia neque sapiente nobis eveniet necessitatibus, inventore nemo voluptatem praesentium. Laborum provident magni tenetur minima mollitia eaque laboriosam. Iusto, eveniet veritatis!br <br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facere, inventore quasi rerum dolores ipsa libero id, similique ab cumque aperiam, eveniet earum perferendis a temporibus eius beatae minima quaerat.</p>
                </div>
    
                <div class="card-footer">
                    <p>2 days ago</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <h4>Podcast</h4>
                </header>
    
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facere, inventore quasi rerum dolores ipsa libero id, similique ab cumque aperiam, eveniet earum perferendis a temporibus eius beatae minima quaerat.</p>
                </div>
    
                <div class="card-footer">
                    <p>2 days ago</p>
                </div>
            </div>
            <div class="card">
                <header class="card-header">
                    <h4>Podcast</h4>
                </header>
    
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo facere, inventore quasi rerum dolores ipsa libero id, similique ab cumque aperiam, eveniet earum perferendis a temporibus eius beatae minima quaerat.</p>
                </div>
    
                <div class="card-footer">
                    <p>2 days ago</p>
                </div>
            </div>
        </div>
    </div>
</main>