.row{
    /* border: 1px solid #000; */
    display: flex;
}

.side{
    /* flex: 50%; */
    /* border: 1px solid #000; */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.main{
    width: 100%;
    /* flex: 50%; */
    /* border: 1px solid #000; */
}