<nav class="top-nav">
    
    <div class="nav-header">
        <a href="" class="bars">
            <div></div>
            <div></div>
            <div></div>
        </a>
        <a href=""> <img class="nav-header-image" src="../../../../assets/AngularDart.png" alt=""></a>
        <a class="navheader" href="">One Planner</a>
    </div>

    <form action="">
        <label class="search-icon" for="search">
            <fa-icon [icon]="faSearch"></fa-icon>
        </label>
        <input type="text" placeholder="search">
    </form>
    
    <div class="push-right">
        <a href="">
            <fa-icon [icon]="faHome"></fa-icon>
        </a>
        <a href="">
            <fa-icon [icon]="faScrewdriver"></fa-icon>
        </a>
        <a href="">
            <fa-icon [icon]="faArchive"></fa-icon>
        </a>
        <img src="../../../../assets/1.png" width="50" height="50" alt="user profile pic">
    </div>
</nav>